body{
	line-height: 1.4;
	font-size: 14px;
	-webkit-text-size-adjust:100%;
	color: #444444;
	width: 100%;
	position: relative;
}

a{
	text-decoration: none;
}

li{
	list-style: none;
}

img {
    height: auto;
    vertical-align: bottom;
    width: 100%;
}

div,ul,li,dl,dt,dd{
	box-sizing: border-box;
}

*{
	box-sizing: border-box;
	-webkit-appearance: none;
}

/* top */

.ja{
	font-family: "Sawarabi Mincho";
}

#mv{
	background: url(../_images/mv.jpg) center bottom;
	height: 800px;
	background-size: cover;
/* 	position: relative; */
	display: table;
	width: 100%;
}

#mv img{
	width: 400px;
	margin-bottom: 20px;
}

#mv-contents{
/* 	position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%); */
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-size: 30px;
	text-shadow: 1px 1px 5px #444;
	color: #fff;
}

h1{
	font-weight: normal;
}

nav{
	background: url(../_images/topic-back.gif);
}

nav ul{
	width: 100%;
	max-width: 980px;
	margin: 0 auto;
	height: 45px;
	line-height: 45px;
}

nav ul li{
	float: left;
	width: 25%;
	text-align: center;
}

nav ul li a{
	position: relative;
	color: #6F6E6E;
	display: inline-block;
	font-weight: bold;
	padding: 0 1em;
}

nav ul li a:before,
nav ul li a:after{
  position: absolute;
  top: 35px;
  content: "";
  display: inline-block;
  width: 0;
  height: 1px;
  background: #C81520;
  transition: .5s;
}

nav ul li a:before{
  left: 50%;
}

nav ul li a:after{
  right: 50%;
}

nav ul li a:hover:before,
nav ul li a:hover:after{
  width: 50%;
}

/* 各パーツ共通 */
.contents-wrap{
	padding: 4em 0;
}

h2{
	text-align: center;
	font-size: 18px;
	color: #7F7E7E;
	font-weight: normal;
	margin-bottom: 2em;
}

h2 span{
	font-size: 24px;
	color: #444;
	font-weight: bold;
}

.contents-msg{
	width: 90%;
	max-width: 860px;
	margin: 0 auto 2em;
	text-align: center;
}

.contents-msg img{
	width: 100%;
	max-width: 450px;
}

.contents-msg p{
	text-align: left;
	margin-bottom: 1em;
}

/* トップメッセージ */

/* 事業内容 */
#business{
	background: url(../_images/business-back.jpg) center bottom;
	background-size: cover;
	color: #000
}

#business h2,
#business h2 span{
	color: #000;
}

#business-list{
	width: 90%;
	max-width: 900px;
	margin: 0 auto;
	text-align: center;
}

#business-list dl{
	background: rgba(255,255,255,0.7);
	padding: 2em;
}

#business-list dt{
	font-size: 140%;
	margin-bottom: 20px;
	border-bottom: solid 1px #0b84d2;
}

#business-list img{
	width: 100px;
	margin-bottom: 20px;
}

#business-list dd{
	text-align: left;
}

/* 会社概要 */
#corporate{
	background: url(../_images/corporate-back.jpg) center top;
	background-size: cover;
}

#corporate dl{
	width: 90%;
	max-width: 900px;
	margin: 0 auto;
}

#corporate dl dt{
	background: rgba(0,0,0,0.4);
	color: #fff;
}

#corporate dl dd{
	background: rgba(255,255,255,0.6);
	color: #000;
}

.privacy-link a{
	color: #444;
	text-decoration: underline;
}

.privacy-link .fa{
	margin-left: 5px;
}

/* お問い合わせ */
#contact dl{
	width: 90%;
	max-width: 900px;
	margin: 0 auto;
}

#contact dl dt{
	margin-bottom: 10px;
	border-left: solid 12px #444;
	padding-left: 5px;
}

#contact dl dd{
	margin-bottom: 20px;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact textarea{
	width: 100%;
	padding: .3em;
	outline: none;
	border: solid 1px #ccc;
}

input[type="checkbox"]{
	position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    overflow: hidden;
    padding: 0;
    clip: rect(0, 0, 0, 0);
}

input[type="checkbox"] + label{
	display: inline-block;
    position: relative;
    padding-left: 1.5em;
    cursor: pointer;
}

input[type="checkbox"] + label:before{
	content: "";
	display: inline-block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 1em;
	height: 1em;
	margin: 0 auto;
	border: 1px solid #ccc;
	background: #fff;
	border-radius: 50%;
	box-sizing: border-box;
}

input[type="checkbox"]:checked + label:before{
	border: 4px solid #ccc;
	box-sizing: border-box;
	background: #C81520;
}

input[type=checkbox]:checked + label{
  	color: #C81520;
}

#contact input[type="text"]:focus,
#contact input[type="email"]:focus,
#contact input[type="tel"]:focus,
#contact textarea:focus{
	border: solid 1px #D7F3FE;
	box-shadow: 0 0 3px #CEECFA;
}

.req{
	background: #C81520;
	color: #fff;
	padding: .2em .4em;
	font-size: 70%;
	margin-left: 5px;
	vertical-align: middle;
}

#btn-entry{
	text-align: center;
}

#privacy-area {
    overflow-y: scroll;
    height: 200px;
    background: #eee;
    padding: 1em;
}

button{
	background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
	background: #C81520;
	color: #fff;
	height: 45px;
	line-height: 45px;
	padding:0 2em;
	border-radius: 5px;
}

button:hover{
	background: #F6333F;
}

input.error,
textarea.error{
	background: #FFFDE5;
}

label.error{
	font-size: 90%;
	color: #EA4848;
}

form .privacy-link a{
	color: #C81520;
	padding-right: 5px;
}

form .privacy-link{
	margin-bottom: 20px;
}

/* footer */
footer{
	padding: 2em 0 10em;
	background: url(../_images/topic-back.gif);
	font-size: 80%;
	text-align: center;
}

/* thanks(privacy) */
#thanks-page,
#privacy-page{
	background: url(../_images/topic-back.gif);
}

#thanks,
.privacy{
	background: rgba(255,255,255,0.7);
	width: 90%;
	max-width: 900px;
	margin: 2em auto;
	padding: 2em;
}

#thanks h1{
	font-size: 180%;
	text-align: center;
	padding-bottom: 2em;
}

#email-get{
	text-align: center;
	margin-bottom: 2em;
}

#thanks-msg{
	width: 90%;
	margin: 0 auto 2em;
}

#thanks-msg p{
	margin-bottom: 10px;
}

#alert-msg{
	background: #fff;
	width: 90%;
	max-width: 400px;
	margin: 0 auto 2em;
	padding: 1em;
	border: dashed 1px #C81520;
}

.alert-msg{
	color: #C81520;
	padding: .5em 0 0;
}

.alert-tel{
	text-align: center;
	border: solid 1px #C81520;
	padding: 1em;
}

.alert-msg-tel{
	background: #444;
	color: #fff;
	display: inline-block;
	padding: .5em 1em;
	font-size: 120%;
	margin-bottom: .5em;
}

.alert-telinfo{
	font-size: 200%;
}

.return-home{
	text-align: center;
}

.return-home img{
	width: 125px;
}

/* トップページリンク */
#pageTop img{
	width: 100px;
	position: fixed;
	bottom: 10px;
	right: 10px;
}

/* privacy */
#privacy-page h1{
	text-align: center;
	font-size: 18px;
	color: #7F7E7E;
	font-weight: normal;
	margin-top: 2em;
}

#privacy-page h1 span{
	font-size: 24px;
	color: #444;
	font-weight: bold;
}

.privacy h2{
	margin-bottom: 1em;
}

.policy-list li .fa{
	font-size: 5px;
	vertical-align: 1px;
	margin-right: 5px;
}

.policy-list li {
    margin-bottom: 10px;
    width: 100%;
    padding-left: 1em;
    text-indent: -1em;
}

.policy-list li:before {
    content: "・";
}

.endp{
	margin-bottom: 10px;
}

.right-text{
	text-align: right;
}

.privacy h3{
    color: #7F7E7E;
    font-weight: normal;
    margin-bottom: 1em;
}

.privacy h3 .fa{
	margin-right: 5px;
}

.privacy-contact{
	background: #eee;
	padding: .5em;
}

.privacy dl dt{
    display: inline-block;
    margin-bottom: 10px;
    padding: 10px 20px;
    border: solid #ccc;
    border-width: 1px 1px 1px 8px;
    background: #fff;
}

.privacy dl dd{
    margin-bottom: 20px;
}

.privacy dl dd:last-of-type{
    margin-bottom: 0;
}

.recruitSingleTable th{
    width: 30%;
    text-align: left;
    font-weight: normal;
    background: #eee;
}

.recruitSingleTable th,
.recruitSingleTable td{
    border: solid 1px #cccccc;
    padding: .6em;
}

.recruitSingleTable td{
	background: #fff;
}

.privacy dl dd dl dt{
	border: solid #ccc;
	border-width: 0 0 4px 0;
    padding: 0 0 10px 0;
    margin-bottom: 10px;
    background: rgba(0,0,0,0);

}

.privacy dl dd dl dl dt{
	border: solid #ccc;
	border-width: 0 0 2px 0;
}

.privacy dl dd dl dl dl dt{
	border: dashed #ccc;
	border-width: 0 0 1px 0;
}

#privacy-page .return-home{
	padding-bottom: 4em;
}

/* スマートフォン */
@media only screen and (min-width : 285px) and (max-width : 480px) {
body,input,textarea,button,select{
	font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Hiragino Kaku Gothic ProN', '游ゴシック Medium', 'メイリオ', meiryo, sans-serif;
	-webkit-text-size-adjust:100%;
}

/* top */
#mv {
    background-attachment: scroll;
    height: 400px;
    position: relative;
}

#mv img{
	width: 125px;
}

#mv-contents{
	font-size: 20px;
}

/* 事業内容 */
#business-list dl{
	margin-bottom: 1em;
}

#business-list dl:last-of-type{
	margin-bottom: 0;
}

/* 会社概要 */
#corporate dl dt,
#corporate dl dd{
	padding: .5em 1em;
}

/* トップページリンク */
#pageTop img{
	width: 50px;
}

/* メニューバー */
#menu-trigger{
	position: absolute;
	top: 10px;
	right: 10px;
	height: 50px;
	line-height: 50px;
	font-size: 30px;
	padding-right: 20px;
	color: #fff;
}

#overlay{
	overflow: auto;
    display: none;
    width: 100%;
    height:100vh;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background: rgba(255,255,255,0.9);
}

#close{
	width: 100%;
	box-sizing: border-box;
	z-index: 1;
	position: fixed;
    background: #C81520;
    cursor: pointer;
	color: #fff;
	font-weight: normal;
	font-size: 80%;
	height: 40px;
	line-height: 40px;
}

#close .fa{
	margin-right: 5px;
}

#overlay ul{
	padding-top: 40px;
	width: 100%;
	border-top: solid 1px #C81520;
}
#overlay ul li{
	position: relative;
	border-bottom: solid 1px #C81520;
	font-size: 90%;
}
#overlay ul li::after {
	display: block;
	content: '';
	position: absolute;
	top: 45%;
	right: 1em;
	width: 6px;
	height: 6px;
	border-right: 1px solid #C81520;
	border-bottom: 1px solid #C81520;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
#overlay ul li a{
	display: block;
	padding: 1.2em 1em;
	color: #444;
}
#overlay ul li a:hover{
	color: #444;
}

.alert-msg-tel{
	background: #fff;
	font-size: 110%;
	color: #444;
	padding: 0;
}

.alert-telinfo{
	background: #C81520;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ec1c24+50,ec1c24+51,8a0304+100 */
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #ffffff 0%, #ec1c24 50%, #ec1c24 51%, #8a0304 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #ffffff 0%,#ec1c24 50%,#ec1c24 51%,#8a0304 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #ffffff 0%,#ec1c24 50%,#ec1c24 51%,#8a0304 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#8a0304',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	font-size: 110%;
	padding: 1em 0;
	border-radius: 5px;
	margin-bottom: 10px;
}

.alert-telinfo a{
	color: #fff;
}

.alert-telinfo-s{
	font-size: 80%;
}

/* お問い合わせ */
#contact input{
	height: 45px;
	line-height: 45px;
}

/* thanks */
#thanks{
	padding: 2em 1em;
}

#thanks h1{
	font-size: 150%;
}

/* スマートフォン調整用 */

.br:after{
	content: "\A";
	white-space: pre ;
}

.brs:after{
	content: "\A";
	white-space: pre ;
}

.pc-only{
	display: none !important;
}

.pc-none{
	display: block !important;
}

}

/* タブレット */
@media only screen and (min-width : 481px) and (max-width : 1024px) {

body,input,textarea,button,select{
	font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Hiragino Kaku Gothic ProN', '游ゴシック Medium', 'メイリオ', meiryo, sans-serif;
	-webkit-text-size-adjust:100%;
}

/* top */
#mv{
    background-attachment: scroll;
    height: 400px;
}

#mv img{
	width: 125px;
}

#mv-contents{
	font-size: 25px;
}

/* 事業内容 */
#business-list dl{
	margin-bottom: 1em;
}

#business-list dl:last-of-type{
	margin-bottom: 0;
}

/* 会社概要 */
#corporate dl dt,
#corporate dl dd{
	padding: .5em 1em;
}

/* トップページリンク */
#pageTop img{
	width: 50px;
}

/* お問い合わせ */
#contact input{
	height: 45px;
	line-height: 45px;
}

/* thanks */
#thanks h1{
	font-size: 150%;
}

/* メニューバー */
#menu-trigger{
	display: none;
}

#overlay{
	display: none;	
}

/* タブレット調整用 */

.br:after{
	content: "\A";
	white-space: pre ;
}

.pc-none{
	display: none !important;
}

.pc-only{
	display: block !important;
}

}

/* PC  */
@media only screen and (min-width:1025px) {
body,input,textarea,button,select{
	font-family: Lato, "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

/* top */
#mv{
	background-attachment: fixed;
}

/* 事業内容 */
#business-list dl{
	width: 30%;
	float: left;
	margin-right: 5%;
}

#business-list dl:last-of-type{
	margin-right: 0;
}

/* 企業概要 */
#corporate dl{
	display: table;
}

#corporate dl dt{
	float: left;
	width: 30%;
	height: 52px;
	line-height: 52px;
	padding: 0 1em;
}

#corporate dl dd{
	width: 70%;
	margin-left: 30%;
	height: 52px;
	line-height: 52px;
	margin-bottom: 10px;
	padding: 0 1em;
}

#corporate dl dd:after {
  content: '';
  display: block;
  clear: both;
}

#corporate dl dd.lineh{
	line-height: 1.4 !important;
	padding: .5em 1em;
}

/* メニューバー */
#menu-trigger{
	display: none;
}

#overlay{
	display: none;	
}

/* PC調整 */
.pc-only{
	display: block !important;
}

.pc-none{
	display: none !important;
}

}

/* 調整 */
.mb10{
	margin-bottom: 10px;
}

.cf:after {
  content: "";
  clear: both;
  display: block;
}