a{
	text-decoration: none;
}
li{
	list-style: none;
}
img{
	vertical-align: bottom;
}
#titleBox{
	background: #222222;
}
div,ul,li{
	box-sizing: border-box;
}
#logo{
	float: left;
	width: 220px;
	height: 60px;
	margin: 10px 0 10px 20px;
}
#logo img{
		width: 100%;
		height: auto;
}
h1{
	padding: 6px 0;
	color: #ffffff;
}
/* ビジネスパートナーボタン*/
/* .partner {
	border:1px solid #337fed;
	text-decoration:none;
	background:-moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
	background:-ms-linear-gradient( top, #3d94f6 5%, #1e62d0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #3d94f6), color-stop(100%, #1e62d0) );
	background-color:#3d94f6;
	color:#ffffff;
	display:inline-block;
	text-shadow:1px 1px 0px #1570cd;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #97c4fe;
 	-moz-box-shadow:inset 1px 1px 0px 0px #97c4fe;
 	box-shadow:inset 1px 1px 0px 0px #97c4fe;
}.partner:hover {
	background:-moz-linear-gradient( center top, #1e62d0 5%, #3d94f6 100% );
	background:-ms-linear-gradient( top, #1e62d0 5%, #3d94f6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #1e62d0), color-stop(100%, #3d94f6) );
	background-color:#1e62d0;
}.partner:active {
	position:relative;
	top:1px;
} */
/* お仕事をお探しの方はこちらボタン*/
/* .entry{
	border:1px solid #d83526;
	text-decoration:none;
	background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
	background:-ms-linear-gradient( top, #fe1a00 5%, #ce0100 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #fe1a00), color-stop(100%, #ce0100) );
	background-color:#fe1a00;
	color:#ffffff;
	display:inline-block;
	text-shadow:1px 1px 0px #b23e35;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #f29c93;
 	-moz-box-shadow:inset 1px 1px 0px 0px #f29c93;
 	box-shadow:inset 1px 1px 0px 0px #f29c93;
}.entry:hover {
	background:-moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
	background:-ms-linear-gradient( top, #ce0100 5%, #fe1a00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ce0100), color-stop(100%, #fe1a00) );
	background-color:#ce0100;
}.entry:active {
	position:relative;
	top:1px;
} */
#mv{
	margin: 0 auto;
	color: #ffffff;
	text-align: center;
}
header{
	background: #ffffff;
}
/*h1背景*/
#titleBox{
	background: #222222;
}
.headerLinkBtn a{
	color: #ffffff;
}
/*メインビジュアル*/
#mv p{
	text-shadow: 1px 1px 3px #000000;
}
/*トップページコンテンツ*/
#frontContents{
	font-size: 14px;
}
.readMsgHead h2{
	font-weight: normal;
	padding: 60px 5em;
	text-align: center;
	margin: 0 auto;
	line-height: 1.5;
	border-bottom: solid 2px #444444;
}
.readMsgHead h2 + p{
	margin: 0 auto;
	padding: 60px 4em;
	line-height: 1.5;
}
/*フロントメニュー*/
#frontMenuWrap{
	padding-top: 80px;
	padding-bottom: 60px;
	background: #eeeeee;
}
#fromtMenuInner{
	margin: 0 auto
}
.frontMenu{
	background: #ffffff;
	box-shadow: 1px 1px 1px #cccccc;
}
.frontMenu h3{
	background: #222222;
	color: #ffffff;
	font-weight: normal;
	text-align: center;
	padding: 1em;
}
/* .frontMenuImg + p + p a{
	border:1px solid #98b9e5;
	text-decoration:none;
	background:-moz-linear-gradient( center top, #63b8ee 5%, #468ccf 100% );
	background:-ms-linear-gradient( top, #63b8ee 5%, #468ccf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #63b8ee), color-stop(100%, #468ccf) );
	background-color:#63b8ee;
	color:#ffffff;
	display:inline-block;
	text-shadow:1px 1px 0px #7cacde;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #bee2f9;
 	-moz-box-shadow:inset 1px 1px 0px 0px #bee2f9;
 	box-shadow:inset 1px 1px 0px 0px #bee2f9;
}.frontMenuImg + p + p a:hover {
	background:-moz-linear-gradient( center top, #468ccf 5%, #63b8ee 100% );
	background:-ms-linear-gradient( top, #468ccf 5%, #63b8ee 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #468ccf), color-stop(100%, #63b8ee) );
	background-color:#468ccf;
}.frontMenuImg + p + p a:active {
	position:relative;
	top:1px;
} */
.frontMenuImg{
	width: 100%;
	margin-bottom: 20px;
}
.frontMenuImg img{
	width: 100%;
}
.frontMenuImg + p + p{
	margin: 0 auto 40px;
}
.frontMenuImg + p + p a{
	display: block;
	height: 44px;
	line-height: 44px;
	text-align: center;
}

.frontReadHead{
	width: 100%;
	text-align: center;
}
.frontReadHead p{
	display: inline;
	width: 100%;
	text-shadow: 3px 3px 3px #444444;
}
.frontRecruit{
	background: url(../_images/front_recruit.jpg) top center no-repeat;
	/* background-size: cover; */
	margin: 0 auto;
	text-align: center;
	color: #ffffff;
}
.frontRecruit p{
	text-shadow: 1px 1px 3px #000000;
}
#frontRecruitBtnBox{
	background: #ffffff;
	text-align: center;
}
#frontRecruitBtnBox p{
	height: 44px;
	line-height: 44px;
}
.frontMenuImg + p + p a{
	display: block;
	color: #ffffff;
}
#contactBoxWrap{
	/* background: #222222; */
	/* padding: 80px 0; */
	/* background: url(../_images/front_recruit.jpg) top center no-repeat; */
}

/* .contact {
	border:1px solid #74b807;
	text-decoration:none;
	background:-moz-linear-gradient( center top, #89c403 5%, #77a809 100% );
	background:-ms-linear-gradient( top, #89c403 5%, #77a809 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #89c403), color-stop(100%, #77a809) );
	background-color:#89c403;
	color:#ffffff;
	display:inline-block;
	text-shadow:1px 1px 0px #528009;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #a4e271;
 	-moz-box-shadow:inset 1px 1px 0px 0px #a4e271;
 	box-shadow:inset 1px 1px 0px 0px #a4e271;
}.contact:hover {
	background:-moz-linear-gradient( center top, #77a809 5%, #89c403 100% );
	background:-ms-linear-gradient( top, #77a809 5%, #89c403 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #77a809), color-stop(100%, #89c403) );
	background-color:#77a809;
}.contact:active {
	position:relative;
	top:1px;
} */

.basicBtn{
	background: #0b84d2;
}

.basicBtn a:hover{
	background: #4BA8E4;
}

.recEntryBtn{
	background: #d21616;
}

#contactBox{
	color: #ffffff;
}
#contactBox ul li a{
	display: block;
	color: #ffffff;
}

#footerContents{
	box-sizing: border-box;
	margin: 0 auto;
}
#fbBox{
	box-sizing: border-box;
	margin-bottom: 60px;
}

#footerLogo{
	width: 466px;
	height: 40px;
	margin: 80px auto;
}
#copyright{
	background: #222222;
	color: #ffffff;
	font-size: 12px;
	padding: 2em 0;
	text-align: center;
}
#spFacebookLink{
	background: #333333;

}
#spFacebookLink a{
	display: block;
	padding: 1.5em 0;
	color: #ffffff;
}

/*トップページ採用情報ボタン*/
#frontRecruitBtn{
	height: 44px;
	line-height: 44px;
	margin: 0 auto 80px;
	text-align: center;
	width: 76%;
}

#frontRecruitBtn a{
	display: block;
	color: #ffffff;
}


/*ページトップボタン*/
#pageTop {
	position: fixed;
	bottom: 10px;
	right: 10px;
}
#pageTop a{
	display: block;
	z-index: 9999;
	line-height: 100px;
	border-radius: 60px;
	border: solid 2px #ffffff;
	width: 60px;
	height: 60px;
	background-color: #282828;
	color: #fff;
	text-decoration: none;
	text-align: center;
	line-height: 60px;

}
#pageTop .fa{
	padding-right: 0 !important;
}
#pageTop a:hover {
  text-decoration: none;
  opacity: 0.9;
}

/*アイコンフォント設定*/
.fa{
	padding-right: 6px;
}
.fa-envelope,
.fa-chevron-circle-right,
.fa-caret-down,
.fa-caret-right,
.fa-angle-double-right,
.fa-caret-up{
	color: #444444;
}
.fa-angle-double-right{
	color: #e40c17;
}
.fa-caret-right{
	color: #cccccc;
}
.fa-arrow-circle-right{
}
.fa-user,
.fa-envelope,
.fa-facebook-official{
	color: #ffffff;
}
#spNav{
	display: none;
}




/*クリアフィックス*/
.cf:after {
  content: "";
  clear: both;
  display: block;
}

/* #spNav{
	float: right;
	width: 50px;
	height: 44px;
} */


/* 画面外にいる状態 */
/* .fadein {
    opacity : 0;
    transform : translate(0, 40px);
    transition : all 1000ms;
    }
画面内に入った状態
.fadein.scrollin {
    opacity : 1;
    transform : translate(0, 0);
    } */
.navActive{
	background: #222222;
	color: #ffffff;
}
#topicPath{
	/* background: #eeeeee; */
}

#topicPath p a{
	color: #222222;
}
#topicPath p a:hover{
	text-decoration: underline;
}

/* 問い合わせ */

.contact-h{
	font-weight: normal;
	padding: 60px 5em;
	text-align: center;
	margin: 0 auto;
	line-height: 1.5;
	border-bottom: solid 2px #444444;
}
.contact-hp{
	margin: 0 auto;
	padding: 60px 4em;
	line-height: 1.5;
}

/* 2017/8/10追記 */
/* Pマークに伴うプライバシーポリシーページ改修 */
 
.right-text{
	text-align: right;
}

.privacy-contact{
	background: #eee;
	padding: 2em;
	box-sizing: border-box;
}

#policy .privacy-contact p{
	margin: 0 0 0 0;
}

#policy #p-policy p{
	margin: 0 auto 30px;
	width: 90%;
}

#policy #p-policy ul,
#policy #p-policy dl{
	margin: 0 auto 30px;
	width: 90%;
}

#policy #p-policy .privacy-contact p{
	margin-bottom: 0;
	width: 100%;
}

#policy #p-policy li{
	margin: 0 0 14px 0;
	padding-left: 1em;
	text-indent: -1em;
}

#policy #p-policy table li,
#policy #p-policy table ul,
#policy #p-policy dl ul,
#policy #p-policy dl dl{
	margin-bottom: 0;
	width: 100%;
}

#policy #p-policy dl p{
	width: 100%;
}

#policy #p-policy dd{
	margin-bottom: 30px;
}

#policy #p-policy dl dt{
	display: inline-block;
	margin-bottom: 20px;
	padding: 10px 20px;
	border: solid #ccc;
	border-width: 1px 1px 1px 8px;
}

#policy #p-policy dl dl dt{
	padding: 0;
	border-width: 0px;
	border-bottom: solid 4px #ccc;
}

#policy #p-policy dl dl dl dt{
	padding: 0;
	border-width: 0px;
	border-bottom: solid 2px #ccc;
}

#policy #p-policy dl dl dl dl dt{
	padding: 0;
	border-width: 0px;
	border-bottom: dotted 1px #ccc;
}

dl .privacy-contact{
	width: 100%;
}

#policy #p-policy li:before{
	content: "・";
}

/* #policy #p-policy .policy-list li:before{
	display: none;
}
 */
@media screen and (min-width:1025px){
.privacy-contact{
	width: 90%;
	margin: 0 auto 30px;
}

}


@media screen and (max-width:1024px){
.privacy-contact{
	width: 90%;
	margin: 0 auto 20px;
}

#policy #p-policy li{
	margin: 0 0 14px 0;
	width: 100%;
}

#policy #p-policy p{
	margin: 0 auto 20px;
	width: 90%;
}

}


@media screen and (min-width: 481px) and (max-width:1024px){
.fa-genderless{
	display: none;
}
}

/* 2018/1 Pマーク取得後の改修 */
/* .privacy-mark-wrap{
	background: #fff;
	padding: 3%;
	box-sizing: border-box;
	border: solid 3px #eee;
}

.privacy-mark{
	display: inline-block;
	margin-right: 2%;
	width: 34%;
}

.privacy-mark a{
	outline: none;
}

.privacy-mark-wrap p{
	display: inline-block;
	width: 58%;
} */

.privacy-mark-wrap{
	overflow: hidden;
	vertical-align: bottom;
	width: 90%;
	margin: 0 auto;
}

.privacy-mark{
	float: left;
}

.privacy-mark img:hover,
.p-mark img:hover{
	opacity: 0.7;
}

.privacy-mark-p{
	float: right;
	width: 65%;
}

/* .managment{
font-family: "Sawarabi Mincho";
margin: 0 auto 30px;
width: 90%;
font-size: 120%;
text-align: center;
color: #636060;
text-shadow: .5px .5px .5px #444;
} */

/*20201021改修*/

.privacy-msg{
	width: 80%;
	max-width: 700px;
    margin: 2em auto 0;
    padding: 1em;
    border: solid 4px #eee;
    text-align: left;
    line-height: 1.5;
}

.basicBtn-wrap{
	max-width: 300px;
	width: 100%;
	margin: 1em auto 0;
}

.basicBtn-wrap a{
	width: 100%;
	display: block;
	font-size: 96%;
	color: #fff;
	height: 50px;
	line-height: 50px;
	text-align: center;
}